<a href="https://colab.research.google.com/github/Raj0408/Movie_Recommendation/blob/main/movie_recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import numpy.ma as ma
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
import tabulate

pd.set_option("display.precision", 1)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
pip install pickle5

Collecting pickle5
  Downloading pickle5-0.0.11.tar.gz (132 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 132.1/132.1 kB 5.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: pickle5
  Building wheel for pickle5 (setup.py) ... done
  Created wheel for pickle5: filename=pickle5-0.0.11-cp310-cp310-linux_x86_64.whl size=256385 sha256=055d88fad6b25aabc8712d99db9f638eae1198b3cda66ae9a872e2949c8b21e4
  Stored in directory: /root/.cache/pip/wheels/7d/14/ef/4aab19d27fa8e58772be5c71c16add0426acf9e1f64353235c
Successfully built pickle5
Installing collected packages: pickle5
Successfully installed pickle5-0.0.11

In [ ]:
top10_df = pd.read_csv("content_top10_df.csv")
bygenre_df = pd.read_csv("content_bygenre_df.csv")
top10_df

,movie id,num ratings,ave rating,title,genres
0,4993,198,4.1,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy
1,5952,188,4.0,"Lord of the Rings: The Two Towers, The",Adventure|Fantasy
2,7153,185,4.1,"Lord of the Rings: The Return of the King, The",Action|Adventure|Drama|Fantasy
3,4306,170,3.9,Shrek,Adventure|Animation|Children|Comedy|Fantasy|Ro...
4,58559,149,4.2,"Dark Knight, The",Action|Crime|Drama
5,6539,149,3.8,Pirates of the Caribbean: The Curse of the Bla...,Action|Adventure|Comedy|Fantasy
6,79132,143,4.1,Inception,Action|Crime|Drama|Mystery|Sci-Fi|Thriller
7,6377,141,4.0,Finding Nemo,Adventure|Animation|Children|Comedy
8,4886,132,3.9,"Monsters, Inc.",Adventure|Animation|Children|Comedy|Fantasy
9,7361,131,4.2,Eternal Sunshine of the Spotless Mind,Drama|Romance|Sci-Fi

In [ ]:
bygenre_df

          genre  num movies  ave rating/genre  ratings per genre
0        Action         321               3.4              10377
1     Adventure         234               3.4               8785
2     Animation          76               3.6               2588
3      Children          69               3.4               2472
4        Comedy         326               3.4               8911
5         Crime         139               3.5               4671
6   Documentary          13               3.8                280
7         Drama         342               3.6              10201
8       Fantasy         124               3.4               4468
9        Horror          56               3.2               1345
10      Mystery          68               3.6               2497
11      Romance         151               3.4               4468
12       Sci-Fi         174               3.4               5894
13     Thriller         245               3.4               7659

In [ ]:
from collections import defaultdict
import csv
import numpy as np
from numpy import genfromtxt
import pickle5 as pickle
import tabulate

def load_data():
    ''' called to load preprepared data for the lab '''
    item_train = genfromtxt('content_item_train.csv', delimiter=',')
    user_train = genfromtxt('content_user_train.csv', delimiter=',')
    y_train    = genfromtxt('content_y_train.csv', delimiter=',')
    with open('content_item_train_header.txt', newline='') as f:    #csv reader handles quoted strings better
        item_features = list(csv.reader(f))[0]
    with open('content_user_train_header.txt', newline='') as f:
        user_features = list(csv.reader(f))[0]
    item_vecs = genfromtxt('content_item_vecs.csv', delimiter=',')

    movie_dict = defaultdict(dict)
    count = 0
#    with open('./data/movies.csv', newline='') as csvfile:
    with open('content_movie_list.csv', newline='') as csvfile:
        reader = csv.reader(csvfile, delimiter=',', quotechar='"')
        for line in reader:
            if count == 0:
                count += 1  #skip header
                #print(line) print
            else:
                count += 1
                movie_id = int(line[0])
                movie_dict[movie_id]["title"] = line[1]
                movie_dict[movie_id]["genres"] = line[2]

    with open('content_user_to_genre.pickle', 'rb') as f:
        user_to_genre = pickle.load(f)

    return(item_train, user_train, y_train, item_features, user_features, item_vecs, movie_dict, user_to_genre)

In [ ]:
item_train, user_train, y_train, item_features, user_features, item_vecs, movie_dict, user_to_genre = load_data()

num_user_features = user_train.shape[1] - 3
num_item_features = item_train.shape[1] - 1
uvs = 3
ivs = 3
u_s = 3
i_s = 1
print(f"Number of training vectors: {len(item_train)}")

Number of training vectors: 50884

In [ ]:
print(f"y_train[:5]: {y_train[:5]}")

y_train[:5]: [4.  3.5 4.  4.  4.5]

In [ ]:

item_train_unscaled = item_train
user_train_unscaled = user_train
y_train_unscaled    = y_train

scalerItem = StandardScaler()
scalerItem.fit(item_train)
item_train = scalerItem.transform(item_train)

scalerUser = StandardScaler()
scalerUser.fit(user_train)
user_train = scalerUser.transform(user_train)

scalerTarget = MinMaxScaler((-1, 1))
scalerTarget.fit(y_train.reshape(-1, 1))
y_train = scalerTarget.transform(y_train.reshape(-1, 1))
#ynorm_test = scalerTarget.transform(y_test.reshape(-1, 1))

print(np.allclose(item_train_unscaled, scalerItem.inverse_transform(item_train)))
print(np.allclose(user_train_unscaled, scalerUser.inverse_transform(user_train)))

True
True

In [ ]:
item_train, item_test = train_test_split(item_train, train_size=0.80, shuffle=True, random_state=1)
user_train, user_test = train_test_split(user_train, train_size=0.80, shuffle=True, random_state=1)
y_train, y_test       = train_test_split(y_train,    train_size=0.80, shuffle=True, random_state=1)
print(f"movie/item training data shape: {item_train.shape}")
print(f"movie/item test data shape: {item_test.shape}")

movie/item training data shape: (40707, 17)
movie/item test data shape: (10177, 17)

In [ ]:
num_outputs = 32
tf.random.set_seed(1)
user_NN = tf.keras.models.Sequential([

    tf.keras.layers.Dense(256,activation = 'relu'),
    tf.keras.layers.Dense(128,activation = 'relu'),
    tf.keras.layers.Dense(num_outputs)

])

item_NN = tf.keras.models.Sequential([

    tf.keras.layers.Dense(256,activation = 'relu'),
    tf.keras.layers.Dense(128,activation = 'relu'),
    tf.keras.layers.Dense(num_outputs)



])


input_user = tf.keras.layers.Input(shape=(num_user_features))
vu = user_NN(input_user)
vu = tf.linalg.l2_normalize(vu, axis=1)

input_item = tf.keras.layers.Input(shape=(num_item_features))
vm = item_NN(input_item)
vm = tf.linalg.l2_normalize(vm, axis=1)
output = tf.keras.layers.Dot(axes=1)([vu, vm])

model = tf.keras.Model([input_user, input_item], output)

model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_1 (InputLayer)           [(None, 14)]         0           []

 input_2 (InputLayer)           [(None, 16)]         0           []

 sequential (Sequential)        (None, 32)           40864       ['input_1[0][0]']

 sequential_1 (Sequential)      (None, 32)           41376       ['input_2[0][0]']

 tf.math.l2_normalize (TFOpLamb  (None, 32)          0           ['sequential[0][0]']
 da)

 tf.math.l2_normalize_1 (TFOpLa  (None, 32)          0           ['sequential_1[0][0]']
 mbda)

 dot (Dot)                      (None, 1)            0           ['tf.math.l2_normalize[0][0]',
                                                                  'tf.math.l2_normalize_1[0][0]']

==================================================================================================
Total params: 82,240
Trainable params: 82,240
Non-trainable params: 0
__________________________________________________________________________________________________

In [ ]:
tf.random.set_seed(1)
cost_fn = tf.keras.losses.MeanSquaredError()
opt = keras.optimizers.Adam(learning_rate=0.01)
model.compile(optimizer=opt,
              loss=cost_fn)

In [ ]:
tf.random.set_seed(1)
model.fit([user_train[:, u_s:], item_train[:, i_s:]], y_train, epochs=30)

Epoch 1/30
1273/1273 [==============================] - 9s 6ms/step - loss: 0.1241
Epoch 2/30
1273/1273 [==============================] - 10s 8ms/step - loss: 0.1156
Epoch 3/30
1273/1273 [==============================] - 4s 3ms/step - loss: 0.1106
Epoch 4/30
1273/1273 [==============================] - 5s 4ms/step - loss: 0.1053
Epoch 5/30
1273/1273 [==============================] - 5s 4ms/step - loss: 0.1024
Epoch 6/30
1273/1273 [==============================] - 4s 3ms/step - loss: 0.0996
Epoch 7/30
1273/1273 [==============================] - 5s 4ms/step - loss: 0.0974
Epoch 8/30
1273/1273 [==============================] - 4s 3ms/step - loss: 0.0954
Epoch 9/30
1273/1273 [==============================] - 4s 3ms/step - loss: 0.0933
Epoch 10/30
1273/1273 [==============================] - 7s 5ms/step - loss: 0.0918
Epoch 11/30
1273/1273 [==============================] - 4s 3ms/step - loss: 0.0899
Epoch 12/30
1273/1273 [==============================] - 5s 4ms/step - loss: 0.0882
Epoch 13/30
1273/1273 [==============================] - 4s 3ms/step - loss: 0.0871
Epoch 14/30
1273/1273 [==============================] - 4s 3ms/step - loss: 0.0860
Epoch 15/30
1273/1273 [==============================] - 8s 6ms/step - loss: 0.0845
Epoch 16/30
1273/1273 [==============================] - 4s 3ms/step - loss: 0.0831
Epoch 17/30
1273/1273 [==============================] - 4s 4ms/step - loss: 0.0820
Epoch 18/30
1273/1273 [==============================] - 5s 4ms/step - loss: 0.0810
Epoch 19/30
1273/1273 [==============================] - 4s 3ms/step - loss: 0.0803
Epoch 20/30
1273/1273 [==============================] - 5s 4ms/step - loss: 0.0792
Epoch 21/30
1273/1273 [==============================] - 4s 3ms/step - loss: 0.0783
Epoch 22/30
1273/1273 [==============================] - 4s 3ms/step - loss: 0.0777
Epoch 23/30
1273/1273 [==============================] - 5s 4ms/step - loss: 0.0768
Epoch 24/30
1273/1273 [==============================] - 5s 4ms/step - loss: 0.0761
Epoch 25/30
1273/1273 [==============================] - 5s 4ms/step - loss: 0.0753
Epoch 26/30
1273/1273 [==============================] - 7s 6ms/step - loss: 0.0747
Epoch 27/30
1273/1273 [==============================] - 11s 9ms/step - loss: 0.0740
Epoch 28/30
1273/1273 [==============================] - 9s 7ms/step - loss: 0.0734
Epoch 29/30
1273/1273 [==============================] - 5s 4ms/step - loss: 0.0728
Epoch 30/30
1273/1273 [==============================] - 4s 3ms/step - loss: 0.0722

In [ ]:
model.evaluate([user_test[:, u_s:], item_test[:, i_s:]], y_test)

319/319 [==============================] - 1s 2ms/step - loss: 0.0815

0.08150702714920044

In [ ]:
new_user_id = 5000
new_rating_ave = 0.0
new_action = 0.0
new_adventure = 5.0
new_animation = 10.0
new_childrens = 5.0
new_comedy = 0.0
new_crime = 0.0
new_documentary = 0.0
new_drama = 0.0
new_fantasy = 5.0
new_horror = 5.0
new_mystery = 5.0
new_romance = 0.0
new_scifi = 5.0
new_thriller = 0.0
new_rating_count = 3

user_vec = np.array([[new_user_id, new_rating_count, new_rating_ave,
                      new_action, new_adventure, new_animation, new_childrens,
                      new_comedy, new_crime, new_documentary,
                      new_drama, new_fantasy, new_horror, new_mystery,
                      new_romance, new_scifi, new_thriller]])

In [ ]:
def gen_user_vecs(user_vec, num_items):

    user_vecs = np.tile(user_vec, (num_items, 1))
    return user_vecs

# predict on  everything, filter on print/use
def predict_uservec(user_vecs, item_vecs, model, u_s, i_s, scaler):

    y_p = model.predict([user_vecs[:, u_s:], item_vecs[:, i_s:]])
    y_pu = scaler.inverse_transform(y_p)

    if np.any(y_pu < 0):
        print("Error, expected all positive predictions")
    sorted_index = np.argsort(-y_pu, axis=0).reshape(-1).tolist()  #negate to get largest rating first
    sorted_ypu   = y_pu[sorted_index]
    sorted_items = item_vecs[sorted_index]
    sorted_user  = user_vecs[sorted_index]
    return(sorted_index, sorted_ypu, sorted_items, sorted_user)

def get_user_vecs(user_id, user_train, item_vecs, user_to_genre):

    if not user_id in user_to_genre:
        print("error: unknown user id")
        return None
    else:
        user_vec_found = False
        for i in range(len(user_train)):
            if user_train[i, 0] == user_id:
                user_vec = user_train[i]
                user_vec_found = True
                break
        if not user_vec_found:
            print("error in get_user_vecs, did not find uid in user_train")
        num_items = len(item_vecs)
        user_vecs = np.tile(user_vec, (num_items, 1))

        y = np.zeros(num_items)
        for i in range(num_items):  # walk through movies in item_vecs and get the movies, see if user has rated them
            movie_id = item_vecs[i, 0]
            if movie_id in user_to_genre[user_id]['movies']:
                rating = user_to_genre[user_id]['movies'][movie_id]
            else:
                rating = 0
            y[i] = rating
    return(user_vecs, y)

def get_item_genres(item_gvec, genre_features):

    offsets = np.nonzero(item_gvec)[0]
    genres = [genre_features[i] for i in offsets]
    return genres


def print_existing_user(y_p, y, user, items, ivs, uvs, movie_dict, maxcount=10):

    count = 0
    disp = [["y_p", "y", "user", "user genre ave", "movie rating ave", "movie id", "title", "genres"]]
    count = 0
    for i in range(0, y.shape[0]):
        if y[i, 0] != 0:  # zero means not rated
            if count == maxcount:
                break
            count += 1
            movie_id = items[i, 0].astype(int)

            offsets = np.nonzero(items[i, ivs:] == 1)[0]
            genre_ratings = user[i, uvs + offsets]
            disp.append([y_p[i, 0], y[i, 0],
                         user[i, 0].astype(int),      # userid
                         np.array2string(genre_ratings,
                                         formatter={'float_kind':lambda x: "%.1f" % x},
                                         separator=',', suppress_small=True),
                         items[i, 2].astype(float),    # movie average rating
                         movie_id,
                         movie_dict[movie_id]['title'],
                         movie_dict[movie_id]['genres']])

    table = tabulate.tabulate(disp, tablefmt='html', headers="firstrow", floatfmt=[".1f", ".1f", ".0f", ".2f", ".1f"])
    return table

def print_pred_movies(y_p, item, movie_dict, maxcount=10):

    count = 0
    disp = [["y_p", "movie id", "rating ave", "title", "genres"]]

    for i in range(0, y_p.shape[0]):
        if count == maxcount:
            break
        count += 1
        movie_id = item[i, 0].astype(int)
        disp.append([np.around(y_p[i, 0], 1), item[i, 0].astype(int), np.around(item[i, 2].astype(float), 1),
                     movie_dict[movie_id]['title'], movie_dict[movie_id]['genres']])

    table = tabulate.tabulate(disp, tablefmt='txt', headers="firstrow")
    return table

In [ ]:

user_vecs = gen_user_vecs(user_vec,len(item_vecs))

suser_vecs = scalerUser.transform(user_vecs)
sitem_vecs = scalerItem.transform(item_vecs)

y_p = model.predict([suser_vecs[:, u_s:], sitem_vecs[:, i_s:]])

# unscale y prediction
y_pu = scalerTarget.inverse_transform(y_p)

sorted_index = np.argsort(-y_pu,axis=0).reshape(-1).tolist()  #negate to get largest rating first
sorted_ypu   = y_pu[sorted_index]
sorted_items = item_vecs[sorted_index]

sorted_items
print_pred_movies(sorted_ypu, sorted_items, movie_dict, maxcount = 10)

27/27 [==============================] - 0s 2ms/step

'  y_p    movie id    rating ave  title                                                             genres\n-----  ----------  ------------  ----------------------------------------------------------------  --------------------------------------------------\n  4.7      108932           3.9  The Lego Movie (2014)                                             Action|Adventure|Animation|Children|Comedy|Fantasy\n  4.7        5444           3.8  Lilo & Stitch (2002)                                              Adventure|Animation|Children|Sci-Fi\n  4.7       97913           3.8  Wreck-It Ralph (2012)                                             Animation|Comedy\n  4.6        4886           3.9  Monsters, Inc. (2001)                                             Adventure|Animation|Children|Comedy|Fantasy\n  4.6      115617           3.9  Big Hero 6 (2014)                                                 Action|Animation|Comedy\n  4.5       60069           4.1  WALL·E (2008)                                                     Adventure|Animation|Children|Romance|Sci-Fi\n  4.5        5072           4    Metropolis (2001)                                                 Animation|Sci-Fi\n  4.5       81847           3.9  Tangled (2010)                                                    Animation|Children|Comedy|Fantasy|Romance\n  4.5        6283           3.9  Cowboy Bebop: The Movie (Cowboy Bebop: Tengoku no Tobira) (2001)  Action|Animation|Sci-Fi|Thriller\n  4.5        5618           4.2  Spirited Away (Sen to Chihiro no kamikakushi) (2001)              Adventure|Animation|Fantasy'

### Preditcing for existing user

In [ ]:
uid = 2
user_vecs, y_vecs = get_user_vecs(uid, user_train_unscaled, item_vecs, user_to_genre)

suser_vecs = scalerUser.transform(user_vecs)
sitem_vecs = scalerItem.transform(item_vecs)


y_p = model.predict([suser_vecs[:, u_s:], sitem_vecs[:, i_s:]])

y_pu = scalerTarget.inverse_transform(y_p)


sorted_index = np.argsort(-y_pu,axis=0).reshape(-1).tolist()
sorted_ypu   = y_pu[sorted_index]
sorted_items = item_vecs[sorted_index]
sorted_user  = user_vecs[sorted_index]
sorted_y     = y_vecs[sorted_index]

27/27 [==============================] - 0s 2ms/step

### Recommendation of movie based on user profile

In [ ]:
def sq_dist(a,b):
    d= np.sum((a-b)**2)
    return d

In [ ]:
input_item_m = tf.keras.layers.Input(shape=(num_item_features))    # input layer
vm_m = item_NN(input_item_m)                                       # use the trained item_NN
vm_m = tf.linalg.l2_normalize(vm_m, axis=1)                        # incorporate normalization as was done in the original model
model_m = tf.keras.Model(input_item_m, vm_m)
model_m.summary()

Model: "model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_3 (InputLayer)        [(None, 16)]              0

 sequential_1 (Sequential)   (None, 32)                41376

 tf.math.l2_normalize_2 (TFO  (None, 32)               0
 pLambda)

=================================================================
Total params: 41,376
Trainable params: 41,376
Non-trainable params: 0
_________________________________________________________________

In [ ]:
scaled_item_vecs = scalerItem.transform(item_vecs)
vms = model_m.predict(scaled_item_vecs[:,i_s:])
print(f"size of all predicted movie feature vectors: {vms.shape}")

27/27 [==============================] - 0s 1ms/step
size of all predicted movie feature vectors: (847, 32)

In [ ]:
count = 50  # number of movies to display
dim = len(vms)
dist = np.zeros((dim,dim))

for i in range(dim):
    for j in range(dim):
        dist[i,j] = sq_dist(vms[i, :], vms[j, :])

m_dist = ma.masked_array(dist, mask=np.identity(dist.shape[0]))  # mask the diagonal

disp = [["movie1", "genres", "movie2", "genres"]]
for i in range(count):
    min_idx = np.argmin(m_dist[i])
    movie1_id = int(item_vecs[i,0])
    movie2_id = int(item_vecs[min_idx,0])
    disp.append( [movie_dict[movie1_id]['title'], movie_dict[movie1_id]['genres'],
                  movie_dict[movie2_id]['title'], movie_dict[movie1_id]['genres']]
               )

table = tabulate.tabulate(disp, headers="firstrow")
table

"movie1                                    genres                                               movie2                                          genres\n----------------------------------------  ---------------------------------------------------  ----------------------------------------------  ---------------------------------------------------\nSave the Last Dance (2001)                Drama|Romance                                        Mona Lisa Smile (2003)                          Drama|Romance\nWedding Planner, The (2001)               Comedy|Romance                                       Mr. Deeds (2002)                                Comedy|Romance\nHannibal (2001)                           Horror|Thriller                                      Final Destination 2 (2003)                      Horror|Thriller\nSaving Silverman (Evil Woman) (2001)      Comedy|Romance                                       Sweetest Thing, The (2002)                      Comedy|Romance\nDown to Earth (2001)                      Comedy|Fantasy|Romance                               Bewitched (2005)                                Comedy|Fantasy|Romance\nMexican, The (2001)                       Action|Comedy                                        Rush Hour 2 (2001)                              Action|Comedy\n15 Minutes (2001)                         Thriller                                             Panic Room (2002)                               Thriller\nEnemy at the Gates (2001)                 Drama                                                Seabiscuit (2003)                               Drama\nHeartbreakers (2001)                      Comedy|Crime|Romance                                 Fun with Dick and Jane (2005)                   Comedy|Crime|Romance\nSpy Kids (2001)                           Action|Adventure|Children|Comedy                     Scooby-Doo (2002)                               Action|Adventure|Children|Comedy\nAlong Came a Spider (2001)                Action|Crime|Mystery|Thriller                        Insomnia (2002)                                 Action|Crime|Mystery|Thriller\nBlow (2001)                               Crime|Drama                                          25th Hour (2002)                                Crime|Drama\nBridget Jones's Diary (2001)              Comedy|Drama|Romance                                 Punch-Drunk Love (2002)                         Comedy|Drama|Romance\nJoe Dirt (2001)                           Adventure|Comedy|Mystery|Romance                     Elektra (2005)                                  Adventure|Comedy|Mystery|Romance\nCrocodile Dundee in Los Angeles (2001)    Comedy|Drama                                         Dr. Dolittle 2 (2001)                           Comedy|Drama\nMummy Returns, The (2001)                 Action|Adventure|Comedy|Thriller                     Spy Kids (2001)                                 Action|Adventure|Comedy|Thriller\nKnight's Tale, A (2001)                   Action|Comedy|Romance                                13 Going on 30 (2004)                           Action|Comedy|Romance\nShrek (2001)                              Adventure|Animation|Children|Comedy|Fantasy|Romance  Enchanted (2007)                                Adventure|Animation|Children|Comedy|Fantasy|Romance\nMoulin Rouge (2001)                       Drama|Romance                                        Notebook, The (2004)                            Drama|Romance\nPearl Harbor (2001)                       Action|Drama|Romance                                 Save the Last Dance (2001)                      Action|Drama|Romance\nAnimal, The (2001)                        Comedy                                               Dumb and Dumberer: When Harry Met Lloyd (2003)  Comedy\nEvolution (2001)                          Comedy|Sci-Fi                                        Behind Enemy Lines (2001)                       Comedy|Sci-Fi\nSwordfish (2001)                          Action|Crime|Drama                                   Rocky Balboa (2006)                             Action|Crime|Drama\nAtlantis: The Lost Empire (2001)          Adventure|Animation|Children|Fantasy                 Cloudy with a Chance of Meatballs (2009)        Adventure|Animation|Children|Fantasy\nLara Croft: Tomb Raider (2001)            Action|Adventure                                     Aeon Flux (2005)                                Action|Adventure\nDr. Dolittle 2 (2001)                     Comedy                                               Legally Blonde 2: Red, White & Blonde (2003)    Comedy\nFast and the Furious, The (2001)          Action|Crime|Thriller                                Once Upon a Time in Mexico (2003)               Action|Crime|Thriller\nA.I. Artificial Intelligence (2001)       Adventure|Drama|Sci-Fi                               Manchurian Candidate, The (2004)                Adventure|Drama|Sci-Fi\nCats & Dogs (2001)                        Children|Comedy                                      Robots (2005)                                   Children|Comedy\nScary Movie 2 (2001)                      Comedy                                               Not Another Teen Movie (2001)                   Comedy\nFinal Fantasy: The Spirits Within (2001)  Adventure|Animation|Fantasy|Sci-Fi                   Rush Hour 2 (2001)                              Adventure|Animation|Fantasy|Sci-Fi\nLegally Blonde (2001)                     Comedy|Romance                                       Serendipity (2001)                              Comedy|Romance\nScore, The (2001)                         Action|Drama                                         Taken (2008)                                    Action|Drama\nJurassic Park III (2001)                  Action|Adventure|Sci-Fi|Thriller                     Matrix Revolutions, The (2003)                  Action|Adventure|Sci-Fi|Thriller\nAmerica's Sweethearts (2001)              Comedy|Romance                                       Maid in Manhattan (2002)                        Comedy|Romance\nGhost World (2001)                        Comedy|Drama                                         Station Agent, The (2003)                       Comedy|Drama\nPlanet of the Apes (2001)                 Action|Adventure|Drama|Sci-Fi                        Day After Tomorrow, The (2004)                  Action|Adventure|Drama|Sci-Fi\nPrincess Diaries, The (2001)              Children|Comedy|Romance                              Lake House, The (2006)                          Children|Comedy|Romance\nRush Hour 2 (2001)                        Action|Comedy                                        Mexican, The (2001)                             Action|Comedy\nAmerican Pie 2 (2001)                     Comedy                                               Rat Race (2001)                                 Comedy\nOthers, The (2001)                        Drama|Horror|Mystery|Thriller                        Mulholland Drive (2001)                         Drama|Horror|Mystery|Thriller\nRat Race (2001)                           Comedy                                               American Pie 2 (2001)                           Comedy\nJay and Silent Bob Strike Back (2001)     Adventure|Comedy                                     EuroTrip (2004)                                 Adventure|Comedy\nTraining Day (2001)                       Crime|Drama|Thriller                                 Frailty (2001)                                  Crime|Drama|Thriller\nZoolander (2001)                          Comedy                                               Old School (2003)                               Comedy\nSerendipity (2001)                        Comedy|Romance                                       Legally Blonde (2001)                           Comedy|Romance\nMulholland Drive (2001)                   Crime|Drama|Mystery|Thriller                         Donnie Darko (2001)                             Crime|Drama|Mystery|Thriller\nFrom Hell (2001)                          Crime|Horror|Mystery|Thriller                        Identity (2003)                                 Crime|Horror|Mystery|Thriller\nWaking Life (2001)                        Animation|Drama|Fantasy                              Coraline (2009)                                 Animation|Drama|Fantasy\nK-PAX (2001)                              Drama|Fantasy|Mystery|Sci-Fi                         Gosford Park (2001)                             Drama|Fantasy|Mystery|Sci-Fi"

In [ ]:
disp

[['movie1', 'genres', 'movie2', 'genres'],
 ['Save the Last Dance (2001)',
  'Drama|Romance',
  'Mona Lisa Smile (2003)',
  'Drama|Romance'],
 ['Wedding Planner, The (2001)',
  'Comedy|Romance',
  'Mr. Deeds (2002)',
  'Comedy|Romance'],
 ['Hannibal (2001)',
  'Horror|Thriller',
  'Final Destination 2 (2003)',
  'Horror|Thriller'],
 ['Saving Silverman (Evil Woman) (2001)',
  'Comedy|Romance',
  'Sweetest Thing, The (2002)',
  'Comedy|Romance'],
 ['Down to Earth (2001)',
  'Comedy|Fantasy|Romance',
  'Bewitched (2005)',
  'Comedy|Fantasy|Romance'],
 ['Mexican, The (2001)',
  'Action|Comedy',
  'Rush Hour 2 (2001)',
  'Action|Comedy'],
 ['15 Minutes (2001)', 'Thriller', 'Panic Room (2002)', 'Thriller'],
 ['Enemy at the Gates (2001)', 'Drama', 'Seabiscuit (2003)', 'Drama'],
 ['Heartbreakers (2001)',
  'Comedy|Crime|Romance',
  'Fun with Dick and Jane (2005)',
  'Comedy|Crime|Romance'],
 ['Spy Kids (2001)',
  'Action|Adventure|Children|Comedy',
  'Scooby-Doo (2002)',
  'Action|Adventure|Children|Comedy'],
 ['Along Came a Spider (2001)',
  'Action|Crime|Mystery|Thriller',
  'Red Dragon (2002)',
  'Action|Crime|Mystery|Thriller'],
 ['Blow (2001)',
  'Crime|Drama',
  "Man Who Wasn't There, The (2001)",
  'Crime|Drama'],
 ["Bridget Jones's Diary (2001)",
  'Comedy|Drama|Romance',
  'Punch-Drunk Love (2002)',
  'Comedy|Drama|Romance'],
 ['Joe Dirt (2001)',
  'Adventure|Comedy|Mystery|Romance',
  'Lake House, The (2006)',
  'Adventure|Comedy|Mystery|Romance'],
 ['Crocodile Dundee in Los Angeles (2001)',
  'Comedy|Drama',
  'Animal, The (2001)',
  'Comedy|Drama'],
 ['Mummy Returns, The (2001)',
  'Action|Adventure|Comedy|Thriller',
  'Indiana Jones and the Kingdom of the Crystal Skull (2008)',
  'Action|Adventure|Comedy|Thriller'],
 ["Knight's Tale, A (2001)",
  'Action|Comedy|Romance',
  '13 Going on 30 (2004)',
  'Action|Comedy|Romance'],
 ['Shrek (2001)',
  'Adventure|Animation|Children|Comedy|Fantasy|Romance',
  'Enchanted (2007)',
  'Adventure|Animation|Children|Comedy|Fantasy|Romance'],
 ['Moulin Rouge (2001)',
  'Drama|Romance',
  'Hours, The (2002)',
  'Drama|Romance'],
 ['Pearl Harbor (2001)',
  'Action|Drama|Romance',
  'Ladykillers, The (2004)',
  'Action|Drama|Romance'],
 ['Animal, The (2001)',
  'Comedy',
  'Dumb and Dumberer: When Harry Met Lloyd (2003)',
  'Comedy'],
 ['Evolution (2001)', 'Comedy|Sci-Fi', 'Mexican, The (2001)', 'Comedy|Sci-Fi'],
 ['Swordfish (2001)',
  'Action|Crime|Drama',
  'Wanted (2008)',
  'Action|Crime|Drama'],
 ['Atlantis: The Lost Empire (2001)',
  'Adventure|Animation|Children|Fantasy',
  'Polar Express, The (2004)',
  'Adventure|Animation|Children|Fantasy'],
 ['Lara Croft: Tomb Raider (2001)',
  'Action|Adventure',
  'Jurassic Park III (2001)',
  'Action|Adventure'],
 ['Dr. Dolittle 2 (2001)',
  'Comedy',
  'Legally Blonde 2: Red, White & Blonde (2003)',
  'Comedy'],
 ['Fast and the Furious, The (2001)',
  'Action|Crime|Thriller',
  'xXx (2002)',
  'Action|Crime|Thriller'],
 ['A.I. Artificial Intelligence (2001)',
  'Adventure|Drama|Sci-Fi',
  'Enemy at the Gates (2001)',
  'Adventure|Drama|Sci-Fi'],
 ['Cats & Dogs (2001)', 'Children|Comedy', 'Robots (2005)', 'Children|Comedy'],
 ['Scary Movie 2 (2001)', 'Comedy', 'Orange County (2002)', 'Comedy'],
 ['Final Fantasy: The Spirits Within (2001)',
  'Adventure|Animation|Fantasy|Sci-Fi',
  'Family Guy Presents Stewie Griffin: The Untold Story (2005)',
  'Adventure|Animation|Fantasy|Sci-Fi'],
 ['Legally Blonde (2001)',
  'Comedy|Romance',
  'Serendipity (2001)',
  'Comedy|Romance'],
 ['Score, The (2001)',
  'Action|Drama',
  'History of Violence, A (2005)',
  'Action|Drama'],
 ['Jurassic Park III (2001)',
  'Action|Adventure|Sci-Fi|Thriller',
  'Lara Croft: Tomb Raider (2001)',
  'Action|Adventure|Sci-Fi|Thriller'],
 ["America's Sweethearts (2001)",
  'Comedy|Romance',
  'Maid in Manhattan (2002)',
  'Comedy|Romance'],
 ['Ghost World (2001)',
  'Comedy|Drama',
  'Station Agent, The (2003)',
  'Comedy|Drama'],
 ['Planet of the Apes (2001)',
  'Action|Adventure|Drama|Sci-Fi',
  'Day After Tomorrow, The (2004)',
  'Action|Adventure|Drama|Sci-Fi'],
 ['Princess Diaries, The (2001)',
  'Children|Comedy|Romance',
  'Kate & Leopold (2001)',
  'Children|Comedy|Romance'],
 ['Rush Hour 2 (2001)',
  'Action|Comedy',
  'Mexican, The (2001)',
  'Action|Comedy'],
 ['American Pie 2 (2001)', 'Comedy', 'Rat Race (2001)', 'Comedy'],
 ['Others, The (2001)',
  'Drama|Horror|Mystery|Thriller',
  'Dogville (2003)',
  'Drama|Horror|Mystery|Thriller'],
 ['Rat Race (2001)', 'Comedy', 'American Pie 2 (2001)', 'Comedy'],
 ['Jay and Silent Bob Strike Back (2001)',
  'Adventure|Comedy',
  'EuroTrip (2004)',
  'Adventure|Comedy'],
 ['Training Day (2001)',
  'Crime|Drama|Thriller',
  'Frailty (2001)',
  'Crime|Drama|Thriller'],
 ['Zoolander (2001)', 'Comedy', 'Old School (2003)', 'Comedy'],
 ['Serendipity (2001)',
  'Comedy|Romance',
  'Legally Blonde (2001)',
  'Comedy|Romance'],
 ['Mulholland Drive (2001)',
  'Crime|Drama|Mystery|Thriller',
  'Dogville (2003)',
  'Crime|Drama|Mystery|Thriller'],
 ['From Hell (2001)',
  'Crime|Horror|Mystery|Thriller',
  'Identity (2003)',
  'Crime|Horror|Mystery|Thriller'],
 ['Waking Life (2001)',
  'Animation|Drama|Fantasy',
  'Let the Right One In (Låt den rätte komma in) (2008)',
  'Animation|Drama|Fantasy'],
 ['K-PAX (2001)',
  'Drama|Fantasy|Mystery|Sci-Fi',
  'Gosford Park (2001)',
  'Drama|Fantasy|Mystery|Sci-Fi']]